<html>
<head>
    <title>Photos</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <style>
        .layout{width: 100%; }
        .content{float: left; width:80%;}
        .filtering{float:right; width:20%;}
        .photoimage{display: inline-block; margin:10px;}
    </style>
</head>
<body>
    <div class="layout">
        <div class="content">
            <div class="photo_list">
                {%for photo in object_list %}
                <div class="photoimage">
                    <img src="/none/none" width="200" height="200" title="{{photo.href}}"/>
                    <div>date: {{photo.created_date | date:'d-m-Y'}}
                        {{photo.created_date | time:'H:i'}}</div>
                    <div>likes: {{photo.likes.count}}</div>
                    <div>tags:
                        {% for tag in photo.tags.all %}
                        <span>#{{tag.name}}</span>
                        {% endfor %}
                    </div>
                </div>

                {% empty %}
                <span>No photos yet</span>
                {%endfor%}
            </div>
            <div class="paging">
                {% if is_paginated%}
                {% if page_obj.has_previous%}
                <span><a href="?{% url_replace page=page_obj.previous_page_number %}">previous</a></span>
                {% endif %}

                {% if page_obj.has_next%}
                <span><a href="?{% url_replace page=page_obj.next_page_number %}">next</a></span>
                {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="filtering">
            <form action="{% url 'photos'%}" method="get">
                <label>Tags</label>
                <input name="tag1"/>
                <input name="tag1"/>
                <input name="tag1"/>
                <input name="tag1"/>
                <input name="tag1"/>
                <br/>

                <label>Sort by likes</label>
                <select name="likes">
                    <option value="asc" {% if likes == 'asc'%} selected="selected" {% endif %}>ascending</option>
                    <option value="desc" {% if likes == 'desc'%} selected="selected" {% endif %}>descending</option>
                </select>
                <br/>

                <label>Sort by date</label>
                <select name="date">
                    <option value="asc" {% if date == 'asc'%} selected="selected" {% endif %}>ascending</option>
                    <option value="desc" {% if date == 'desc'%} selected="selected" {% endif %}>descending</option>
                </select>
                <br/>

                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</body>
</html>